* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
    background:linear-gradient(to left top,#073d74,#041425);
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgba(215, 227, 238, 0.95);
    font-size: 26px;
}

h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgba(215, 227, 238, 0.95);
    font-size: 2vw;
}

a, a:visited {
    color:rgba(215, 227, 238, 0.95);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
}

a:hover, a:active {
    color:rgba(142, 186, 228, 0.95);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
}

.panel{
    background: white;
    position: absolute;
    height: 400px;
    width: 75%;
    background: linear-gradient(
        to right bottom,
         rgba(255,255,255,0.1),
         rgba(255,255,255,0.2)
         );
    border-radius: 12px;
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(3px);
}

.subpanel{
    background: white;
    position: absolute;
    height: 100%;
    width: 50%;
    background: linear-gradient(
        to right bottom,
         rgba(255,255,255,0.1),
         rgba(255,255,255,0.2)
         );
    border-radius: 12px;
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.invispanel{
    background: rgba(0,0,0,0);
    position: absolute;
    margin-left: 50%;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.welcome{
    background: rgba(0,0,0,0);
    position: absolute;
    height:15%;
    width: 100%;
    margin-bottom: 90%;
    text-align: center;
}
.button, .abutton, .gbutton, .bbutton,
.rbutton{
    background: white;
    position: absolute;
    height: 36px;
    width: 140px;
    background: linear-gradient(
        to right bottom,
         rgba(255,255,255,0.1),
         rgba(255,255,255,0.2)
         );
    border-radius: 12px;
    text-align: center;
}



.abutton{
    margin-bottom: 170px;
}

.bbutton{
    margin-bottom: 85px;
}

.rbutton{
    margin-bottom: 0px;
}

.gbutton{
    margin-top: 85px;
}

.button{
    margin-top: 170px;
}

body{ margin:0; font:normal 75% Arial, Helvetica, sans-serif; } 
#particles-js{ position:absolute; width: 100%; height: 100%; background-color: argb(0,0,0,0); background-size: cover; background-position: 50%, 50%}